.positionCorner{
    position: absolute  ;
    right: 40px;
    width: 60vh;
    height: 36vh;
    background-color: black;
    border-radius: 25%;
}
.btnColor{
    background-color:beige;
    border-color: black;
}
.imgSize{
    width: 200px;
    height: 200px;
}

/* background for the titel img and style to */
.bgImg{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.593), rgba(26, 2, 2, 0.686)),
    url(http://localhost:4200/images/award1.jpg);
    border-bottom-style:ridge;
}

.borderBottom{
    border-bottom-style:solid;
    margin-left: 40vh;
    margin-right: 40vh;
    background-color: white;
}