<section class="about-section py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h2 class="about-headline display-3">About me</h2>
            </div>
        </div>

        <div class="about-text col-12 col-md-6 justify-content-center">
            <div class="text-start text-md-start">
                <p class="text-block">
                    <span class="headline-span">Hey, I'm Daisy Lothford –</span>
                    <br>
                    A passionate photographer who
                    captures the beauty of the moment. For years, I have been exploring the world through my camera,
                    capturing special moments that tell stories and evoke emotions.
                    With my experience in photography, I specialize in capturing the depth of emotions and the magic
                    of the moment.
                </p>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="img-content col-12 col-md-6">
                <img class="about-first-img shadow" loading="lazy" src="/images/about-pic-05.jpg" alt="About Me">
            </div>
            <div class="img-content col-12 col-md-6">
                <img class="about-second-img shadow" loading="lazy" src="/images/about-pic-06.jpg" alt="About Me">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <blockquote class="quote">
                    <span class="headline-span">Photography –</span>
                    <h4>Is a way to capture a fleeting moment, don't deny yourself this pleasure.</h4>
                </blockquote>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6">
                <div class="text-start text-md-start">
                    <p class="text-block text-bottom">
                        <span class="headline-span">Vision and reality –</span>
                        <br>
                        Understanding your vision, I will help to make it real. Let me create the images to display your
                        dreams and imaginations. With my profound understanding of how to turn photography into an art,
                        your presentations and memories will be more vivid and lively than ever. Unleash the full
                        potential of creative imaging. Uplift your ambitions to a new level!
                        <br>
                        <br>
                        Thank you for visiting.
                        Feel free to contact me.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img class="about-second-img img-bottom shadow" loading="lazy" src="/images/about-pic-07.jpg"
                    alt="About Me">
            </div>
        </div>
    </div>
</section>