<div class="contact-page container-fluid">
  <div class="contact-form">
    <h2>Contact Me</h2>
    <form>
      <div class="form-group">
        <label for="name"><i class="fas fa-user"></i> Your Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="email"><i class="fas fa-envelope"></i> Email Address</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="favorite-photo"
          ><i class="fas fa-image"></i> What's your favorite photo from my
          portfolio?</label
        >
        <input type="text" id="favorite-photo" name="favorite-photo" required />
      </div>
      <div class="form-group">
        <label for="how-heard"
          ><i class="fas fa-bullhorn"></i> How did you hear about me?</label
        >
        <input type="text" id="how-heard" name="how-heard" required />
      </div>
      <div class="form-group">
        <label for="dream-photoshoot"
          ><i class="fas fa-dream"></i> Describe your dream photoshoot.</label
        >
        <textarea
          id="dream-photoshoot"
          name="dream-photoshoot"
          rows="4"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <label for="photoshoot-date"
          ><i class="fas fa-calendar-alt"></i> Preferred date for the
          photoshoot</label
        >
        <input
          type="date"
          id="photoshoot-date"
          name="photoshoot-date"
          required
        />
      </div>
      <div class="form-group">
        <label for="message"><i class="fas fa-comments"></i> Message</label>
        <textarea id="message" name="message" rows="4" required></textarea>
      </div>
      <button type="submit" class="submit-button">
        <i class="fas fa-paper-plane"></i> Send Message
      </button>
    </form>
  </div>
</div>
