<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <title>Photographer Portfolio</title> -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <link rel="stylesheet" href="portafolio-1.component.css" />
</head>

<body>
  <div class="header">
    <div class="container">
      <div class="box">
        <h4 class="number">01</h4>
        <h1 class="">CALM PAIN</h1>
        <p class="">
          A collection of photos with expressions of what it feels like to
          empower yourself regardless of what the outside expects. Expression as
          a political statement.
        </p>
        <a href="#" class="btn">Photography by: The art of potrait</a>
        <a href="#" class="btn">Edited by: The art of potriat</a>
      </div>
    </div>
  </div>

  <!-- About section -->

  <!-- Services section -->
  <!-- <section class="services bg-dark" id="services">
    <div class="heading">
      <h2 class="section-title"><span>September - 2020</span></h2>
      <p class="section-title2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia optio
        et molestiae quos accusantium officiis fuga placeat deleniti. Aliquid,
        unde enim!
      </p> -->
  <!-- </div>
    <div class="container">
      <div class="box border-01">
        <div class="item">
          <a href="services-page.html">
            <h6>Photographer</h6>
            <p>
              Photography by: whoever the name is. <br />
              Edited by: Whoever the name is
            </p>
          </a>
        </div>
      </div>
      <div class="box border-02">
        <div class="item">
          <a href="services-page.html">
            <h6>Videography</h6>
            <p>Videography by: whoever the name is.</p>
          </a>
        </div>
      </div> -->

  <!-- <div class="box border-03">
        <div class="item">
          <a href="services-page.html">
            <h6>Photo editing</h6>
            <p>Photo editing by: whoever the name is.</p>
          </a>
        </div>
      </div> -->
  <!-- </div>
  </section> -->
  <!-- Services section -->

  <!-- Works Gallery -->
  <section class="gallery bg-dark" id="works">
    <div class="heading">
      <h2 class="title">CALM PAIN</h2>
    </div>

    <div class="container">
      <div class="grid-wrapper">
        <div class="image tall">
          <img
            src="https://images.unsplash.com/photo-1705088450066-9b88e7a65320?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
        <div class="image wide">
          <img
            src="https://images.unsplash.com/photo-1705088450050-8eec43e2fc91?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
        <div class="image tall">
          <img
            src="https://images.unsplash.com/photo-1705088450048-e81050c8b0b8?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>

        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1704798579745-8d70c1e4ce9a?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!--  Works Gallery -->

  <!-- Contact section -->
  <!-- <section class="contact bg-dark" id="contact">
    <div class="container">
      <div class="box">
        <h2 class="title">
          THE CALM PAIN - A POTRAIT <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
          eum?
        </h2>
        <ul>
          <li>
            <span
              >sometimes you have to be calm about it, sometimes you can't,
              sometimes it's like a current going through you and you can't
              control it. Yet most times, breath, let all the emotions happens
              and then keep it moving</span
            >
          </li>
        </ul>
      </div>

      <div class="box">
        <div class="box-r">
          <div class="image">
            <img
              src="https://images.unsplash.com/photo-1704798579745-8d70c1e4ce9a?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="contact bg-dark" id="contact">
    <div class="container">
      <div class="box">
        <h2 class="title">
          THE CALM PAIN - A POTRAIT <br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
          eum?
        </h2>
        <ul>
          <li>
            <span
              >sometimes you have to be calm about it, sometimes you can't,
              sometimes it's like a current going through you and you can't
              control it. Yet most times, breath, let all the emotions happens
              and then keep it moving</span
            >
          </li>
        </ul>
      </div>

      <div class="box">
        <div class="box-r">
          <div class="image">
            <img
              src="https://images.unsplash.com/photo-1705088450066-9b88e7a65320?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Contact section -->

  <!-- Footer -->
</body>

<div class="ca-seo-structure">
  <input checked id="ca-seo-slide-1" name="ca-seo-slides" type="radio" />
  <div class="ca-seo-slide">
    <p>
      <u>CALM PAIN</u> <br />sometimes you have to be calm about it, sometimes
      you can't, sometimes it's like a current going through you and you can't
      control it. Yet most times, breath, let all the emotions happens and then
      keep it moving...
    </p>
    <div class="ca-seo-slide-img">
      <img
        src="https://images.unsplash.com/photo-1705088450066-9b88e7a65320?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </div>
  </div>
  <nav class="ca-seo-slide-nav">
    <label class="slide-prev" for="ca-seo-slide-1"></label>
    <label class="slide-next" for="ca-seo-slide-2"></label>
  </nav>
  <nav class="ca-seo-slide-dots">
    <label class="slide-dot" for="ca-seo-slide-1"></label>
    <label class="slide-dot" for="ca-seo-slide-2"></label>
    <label class="slide-dot" for="ca-seo-slide-3"></label>
  </nav>

  <input id="ca-seo-slide-2" name="ca-seo-slides" type="radio" />
  <div class="ca-seo-slide">
    <p>
      <u>EXPERSSION IS A POLITICAL STATEMENT!</u> <br />sometimes you have to be
      calm about it, sometimes you can't, sometimes it's like a current going
      through you and you can't control it. Yet most times, breath, let all the
      emotions happens and then keep it moving...
    </p>
    <div class="ca-seo-slide-img">
      <img
        src="https://images.unsplash.com/photo-1704798579745-8d70c1e4ce9a?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </div>
  </div>
  <nav class="ca-seo-slide-nav">
    <label class="slide-prev" for="ca-seo-slide-1"></label>
    <label class="slide-next" for="ca-seo-slide-3"></label>
  </nav>
  <nav class="ca-seo-slide-dots">
    <label class="slide-dot" for="ca-seo-slide-1"></label>
    <label class="slide-dot" for="ca-seo-slide-2"></label>
    <label class="slide-dot" for="ca-seo-slide-3"></label>
  </nav>

  <input id="ca-seo-slide-3" name="ca-seo-slides" type="radio" />
  <div class="ca-seo-slide">
    <p>
      <u>LET IT OUT!</u> <br />
      sometimes you have to be calm about it, sometimes you can't, sometimes
      it's like a current going through you and you can't control it. Yet most
      times, breath, let all the emotions happens and then keep it moving...
    </p>
    <div class="ca-seo-slide-img">
      <img
        src="https://images.unsplash.com/photo-1705088450048-e81050c8b0b8?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </div>
  </div>
  <nav class="ca-seo-slide-nav">
    <label class="slide-prev" for="ca-seo-slide-2"></label>
    <label class="slide-next" for="ca-seo-slide-3"></label>
  </nav>
  <nav class="ca-seo-slide-dots">
    <label class="slide-dot" for="ca-seo-slide-1"></label>
    <label class="slide-dot" for="ca-seo-slide-2"></label>
    <label class="slide-dot" for="ca-seo-slide-3"></label>
  </nav>
</div>
