<!--hero section-->

<!--old version-->

<!-- <div class="hero container-fluid">
  <img src="images/hero_mask.jpg" alt="" />
  <p class="p1 animate__animated animate__slideInLeft">
    Make photography an Art
  </p>
  <button class="hero-btn"><a href="#"></a>Contact me</button>
  <p class="p2 animate__animated animate__slideInRight">
    Expand your imagination
  </p>
</div> -->

<!--//////////////////////////////////////////////////////////////////////////////////////////-->
<!--new version-->
<div class="hero container-fluid">
  @if(imgPath != ""){
  <app-modal
    (onModalCLosed)="onModalWasClosed()"
    [imgPath]="imgPath"
  ></app-modal>

  }

  <img src="images/hero_b_w_people.jpg" alt="" />
  <p class="p1 animate__animated animate__slideInLeft">
    Make photography an Art
  </p>
  <button
    class="hero-btn animate__animated animate__pulse"
    routerLink="/contact"
  >
    <a>Contact me</a>
  </button>
  <p class="p2 animate__animated animate__slideInRight">
    Expand your imagination
  </p>
</div>

<div class="text">
  <!--text statement-->
  <div class="container my-2 mx-auto p-2">
    <h2 class="home-intro">Do not take pictures - Shape reality!</h2>
    <p class="h1 home-intro">
      Let <span style="color: yellow">me</span> fulfill your vision!
    </p>
  </div>
  <!--image gallery-->
  <div class="container mx-auto row row-cols-3 row-cols-md-6 mb-2 p-4">
    <div class="gallery-div p-1">
      <a (click)="onClickImg('images/photography_equipment.jpg')"
        ><img src="images/photography_equipment.jpg" alt="" class="gallery"
      /></a>
    </div>
    <div class="gallery-div p-1">
      <a (click)="onClickImg('images/photographer-shilouetten.jpg')"
        ><img src="images/photographer-shilouetten.jpg" alt="" class="gallery"
      /></a>
    </div>
    <div class="gallery-div p-1">
      <a (click)="onClickImg('images/photographer-cliff.jpg')"
        ><img src="images/photographer-cliff.jpg" alt="" class="gallery"
      /></a>
    </div>
    <div class="gallery-div p-1">
      <a (click)="onClickImg('images/photography_oldwoman.jpg')"
        ><img src="images/photography_oldwoman.jpg" alt="" class="gallery"
      /></a>
    </div>
    <div class="gallery-div p-1">
      <a (click)="onClickImg('images/photography_borealis.jpg')"
        ><img src="images/photography_borealis.jpg" alt="" class="gallery"
      /></a>
    </div>
    <div class="gallery-div p-1">
      <a (click)="onClickImg('images/photography-pictures.jpg')"
        ><img src="images/photography-pictures.jpg" alt="" class="gallery"
      /></a>
    </div>
  </div>
  <!--end of image gallery-->
</div>

<!--hacked image-->
<div class="attack animate__animated animate__slideInDown">
  <img src="images/skull-34133_640.png" alt="" />
  <p class="s1 display-5 fw-bold">You were hacked by the</p>
  <p class="s2 display-3 fw-bold">Imperium sacrum</p>
</div>
